.Home header {
  border-bottom: 1px solid black;
}
.Home .Home-dummy {
  display: inline-block;
  border: 1px solid black;
  padding: 16px;
  font-size: 1.1em;
}
.Home .Home-dummy a {
  display: block;
  padding: 8px;
  font-size: 1.5em;
}
